.footer {
    position: fixed;
    left: 16px;
    bottom: 16px;
    text-align: left;
    background: rgba(233, 230, 230, 0.7);
    padding: 8px 24px;
    border-radius: 32px;
    opacity: .95;
    backdrop-filter: blur(8px);
  }
  
  .footer span {
    font-size: 14px;
    color: rgb(233, 240, 244);
    opacity: .8;
  }
  
  .footer h4, .footer h5 {
    color: rgb(233, 240, 244);
    margin: 0;
    display: flex;
  }