.app {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

footer {
  margin-top: 30px;
  padding: 10px;
  background-color: #282c34;
  color: white;
}

h1 {
  margin: 0;
}

.app-table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
}

.app-table th, .app-table td {
  padding: 10px;
  text-align: center;
}
/* Centrar el contenido del div con flex dentro de las cabeceras */
.app-table th div {
  display: inline-flex; /* Permite centrar elementos sin afectar al `th` */
  align-items: center;
  justify-content: center; /* Asegura el centrado horizontal */
  gap: 10px; /* Espacio entre texto e ícono */
}

/* src/components/AppCard.css */
.app-card {
  position: relative;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

.app-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.app-card:hover .app-image {
  transform: scale(1.1);
}

.app-info {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 250px;
  z-index: 10;
}

.app-card:hover .app-info {
  display: block;
}

.app-info h3 {
  margin: 0 0 5px 0;
}

.app-info p {
  margin: 5px 0;
}

.app-info a {
  color: #4caf50;
  text-decoration: none;
}

.app-info a:hover {
  text-decoration: underline;
}